.wrapper {
  max-width: 900px;
  font-family: "Trebuchet MS", sans-serif;
  margin: 0 auto;
  padding: 60px;
  background: #f3f3f3;
}

.list-item {
  list-style: circle;
  font-style: italic;
}

.list-item-info {
  list-style: none;
  font-size: smaller;
  margin-left: -40px;
}


.title-large {
  text-align: center;
}

.text-center {
  text-align: center;
}

.comment {
  text-align: right;
  font-size: smaller;
  font-style: italic;
}

.image {
  width: 100%;
}

.text-small {
  font-size: 24px;
}

.buffer-bottom {
  margin-bottom: 40px;
}

.buffer-bottom-large {
  margin-bottom: 80px;
}

@media (max-width: 480px) {
  .wrapper {
    padding: 5px;
  }

  .title-large {
    color: blue;
  }
}
